<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simulador de Escenarios Dinámicos{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('escenario_G.static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('escenario_G.static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('escenario_G.static', filename='css/components.css') }}">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="retro-os-environment">
    <div class="desktop-area" style="padding: 15px;">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>